<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.tourplanner2">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MapMain"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/map_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <!--category android:name="android.intent.category.APP_MAPS"/-->
                <!--category android:name="com.actionbarsherlock.sample.plugins.MAPS" /-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PreferencesActivity" />
        <activity android:name=".activities.PlannerActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.AdvancedOptionsActivity" />
        <activity android:name=".activities.RecomendedPOIsActivity" />
        <activity android:name=".activities.MyRoutesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.GalleryActivity" />
        <activity android:name=".activities.FullScreenViewActivity" />

        <service android:name=".services.CheckLocationService" />

    </application>


</manifest>